:root {
  --section-about-title-height: 62px;
  --section-title-height: 48px;

  --section-padding: 8px;

  --about-width: 720px;

  --recommended-works-item-width: 300px;
  --recommended-works-item-gap: 16px;

  --recent-works-width: 900px;
  --recent-works-item-width: 280px;
}

header {
  width: 100%;

  .navi {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    background: var(--hlt-color);
    height: var(--navi-height);
    display: flex;
    justify-content: space-between;
    width: 100%;

    .left {
      margin-left: var(--navi-left-margin);

      img {
        height: 70%;
        margin: 10px;
      }
    }

    .right {
      display: flex;
      flex-direction: row;
      margin-right: var(--navi-rigth-margin);

      .option {
        background: var(--core-color-0);
        width: 92px;
        height: 100%;
        margin: 0 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          margin: 0;
          width: fit-content;
          height: fit-content;

          color: var(--core-color-5)
        }
      }

      .selected {
        background-image: url("../assets/images/navi_option_selected.png");
        background-size: contain;
        background-position: center;

        p {
          color: var(--hlt-color);
          font-weight: bold;
        }
      }
    }
  }
}

.cover {
  padding-top: 20vw;

  .logo_title {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;

    .logo {
      margin: 0 auto;
      width: 125px;
    }

    .title {
      margin: 20px auto;
      width: 222px;
    }
  }

  .background {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
  }
}


.main {
  padding-top: 20vh;

  .section {
    width: 100%;
    margin: 52px auto;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

    .title {
      display: flex;
      // Title margin
      margin: 30px auto;
      height: var(--section-title-height);
    }
  }
}

//----About----------------
.about.section {
  .title {
    height: var(--section-about-title-height);
  }

  .core {
    margin: 24px auto;
    width: min(90vw, var(--about-width));

    .options {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .option {
        width: 33.3%;
        background: var(--core-color-5);
        outline: var(--theme-color) 1px solid;

        p {
          text-align: center;
          color: var(--core-color-0);
          margin: 0;
        }

        cursor: pointer;
        transition: background-color 0.2s;
      }

      .option:hover {
        background-color: var(--core-color-4);
      }

      .selected:hover {
        background-color: var(--theme-color);
      }

      .selected {
        background: var(--theme-color);
        color: var(--hlt-color);
        font-weight: bold;
      }
    }

    .text-container {
      height: 128px;

      .text {
        position: relative;
        top: 16px;
        margin: 0;
        height: 0;

        // for text display animation
        transform: translateY(40px);
        opacity: 0;
        transition: .05s all cubic-bezier(0.25, 1, 0.5, 1);
      }

      // for text display animation
      .text.active {
        transform: translateY(0);
        transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
        transition-delay: .05s;
        transition-duration: .8s;
        opacity: 1;
      }
    }
  }
}

//----Recommended Works----------
.recommended-works.section {
  .core {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: var(--theme-color) 1px solid;
    border-top: var(--theme-color) 1px solid;
    display: flex;

    .container {
      display: grid;
      grid-template-columns: var(--recommended-works-item-width) var(--recommended-works-item-width) var(--recommended-works-item-width);
      flex: none;
      grid-gap: var(--recommended-works-item-gap);

      width: fit-content;
      padding-right: var(--recommended-works-item-gap);

      .item {
        border: var(--theme-color) 1px solid;
        width: 100%;
        display: flex;
        flex-direction: column;

        img {
          width: 100%;
          object-fit: cover;
          height: calc(var(--recommended-works-item-width) * 3 / 4);
        }

        .bottom {
          background: var(--theme-color);
          height: fit-content;
          padding: 2px;

          p.title {
            display: block;
            margin: 0;
            width: 100%;
            color: var(--hlt-color);
            font-weight: bold;
            height: fit-content;
            text-align: center;
            padding-top: 3px;
            padding-bottom: 3px;
            font-size: var(--font-size-big);
          }
        }
      }
    }
  }
}

//----Recent Work----------
.recent-works.section {
  .works-container {
    columns: 3 var(--recent-works-item-width);
    column-gap: 16px;
    width: min(90%, var(--recent-works-width));

    margin: 0 auto;
    background: var(--background-color);

    .item {
      outline: var(--theme-color) 1px solid;
      flex-direction: column;
      margin: 12px;
      padding: 0;
      display: inline-block;
      width: 100%;
      cursor: pointer;
      transition: outline-color .3s;

      .up-part {
        padding: 16px;
        padding-bottom: 4px;

        img {
          width: 100%;
        }
      }

      p {
        margin: 0;
      }

      .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
          font-size: var(--font-size-small);
          width: fit-content;
        }
      }

      .title-text {
        background: var(--theme-color);
        padding: 4px;

        p {
          color: var(--hlt-color);
          text-align: center;
          font-weight: bold;
        }
      }
    }
    .item:hover {
      outline: var(--hlt-color) 2px solid;
    }
  }
}

//----Media--------------
.media.section {
  .core {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: row;

    div {
      display: flex;
      flex-direction: column;
      padding: 8px;
      margin: 0 12px;
      border: var(--theme-color) 1px solid;

      img {
        width: 200px;
        padding: 4px;
      }

      a {
        margin: 0;
        text-align: center;
      }
    }
  }
}


//----Footer------------------------
footer {
  width: 100%;
  margin-top: 160px;
  min-height: 200px;
  display: flex;
  padding: 0;
  background: var(--theme-color);

  .footer-left-part {
    width: 500px;
    background-color: var(--theme-color);
    border-right: solid var(--background-color) 1px;
    padding: 10px;
  }

  .footer-item-layout {
    padding: 8px 16px;
    margin: 8px;
    height: fit-content;
  }

  .footer-item {
    * {
      display: flex;
    }

    flex-direction: column;
    background-color: var(--background-color);
    align-items: center;

    .up-part {
      height: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .left-part {
        width: fit-content;
        height: fit-content;
      }

      .right-part {
        width: fit-content;
        height: fit-content;
        flex-direction: row;
        align-items: center;
      }

      .link-icon {
        margin-left: 8px;
        height: 14px;
        width: 14px;

        * {
          fill: var(--hlt-color)
        }
      }

      .item-title {
        font-weight: normal;
      }

      .item-text {
        font-weight: bold;
      }
    }

    .down-part {
      p {
        font-size: var(--font-size-small);
        margin-top: 6px;
        border-top: var(--core-color-4) 1px solid;
        padding-top: 6px;
        margin-bottom: 0;
      }
    }
  }

  .has-link {
    cursor: pointer;
    transition: all .3s linear;
    outline: solid transparent 2px;
  }

  .has-link:hover {
    outline: solid var(--hlt-color) 2px;
  }
}