:root {
    --mask-color: rgb(255 255 255 / 70%);
    --mask-filter: blur(16px);
}
#recent-work-focused.disable{
    visibility: hidden;
    .work-spotlight{
        *{
            transform: translateY(600px);
            transform: all none;
        }
    }
}

#recent-work-focused.enable{
    visibility: visible;
    .work-spotlight{
        transform: translateY(0px);
        transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);

        .container{
            transition-duration: 0.5s;
        }
        .gallery {
            transition-duration: 0.55s;
        }
        .author{
            transition-duration: 0.6s;
        }
        .description{
            transition-duration: 0.65s;
        }
        .links{
            transition-duration: 0.7s;
        }
    }
}


#recent-work-focused {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    .mask {
        z-index: 11;
        position: fixed;

        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: var(--mask-color);
        backdrop-filter: var(--mask-filter);
    }

    .work-spotlight {
        z-index: 12;
        width: fit-content;
        height: fit-content;
        // margin: auto auto;
    }

}
