.main .recommended-works {
  width: 100%;
  margin: 52px auto;
  padding-top: 8px;
  padding-bottom: 8px;
}
.main .recommended-works .title {
  display: flex;
  margin: 30px auto;
  width: 252.43px;
  height: 65.83px;
}
.main .recommended-works .core {
  display: flex;
  justify-content: center;
}
.main .recommended-works .core .select-area {
  position: relative;
  max-width: 431px;
  height: 611px;
  margin-left: 24px;
}
.main .recommended-works .core .select-area .upper-left-frame {
  position: absolute;
  height: 16.36%;
  top: 0;
  left: 0;
}
.main .recommended-works .core .select-area .lower-right-frame {
  position: absolute;
  height: 16.36%;
  bottom: 0;
  right: 0;
}
.main .recommended-works .core .select-area .options {
  width: 90%;
  height: 548px;
  position: relative;
  top: 38px;
  left: 40px;
  display: flex;
  flex-direction: column;
}
.main .recommended-works .core .select-area .options .selection:hover * {
  color: var(--core-color-1);
}
.main .recommended-works .core .select-area .options .selection {
  position: relative;
  width: 100%;
  height: 104px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.main .recommended-works .core .select-area .options .selection p {
  transition-property: all;
  transition-duration: 0.3s;
}
.main .recommended-works .core .select-area .options .selection .info {
  position: inherit;
  top: 21px;
  height: 29.85%;
  padding-left: 28px;
  opacity: 1;
  width: 90%;
  margin-bottom: 10px;
}
.main .recommended-works .core .select-area .options .selection .info p {
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  font-family: Source Han Sans;
  font-size: var(--font-size-small);
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  font-feature-settings: "kern" on;
  color: var(--core-color-3);
}
.main .recommended-works .core .select-area .options .selection .game-name {
  position: relative;
  top: 2px;
  height: 52.24%;
  padding-left: 28px;
  opacity: 1;
}
.main .recommended-works .core .select-area .options .selection .game-name p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: Source Han Sans;
  font-size: 24px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  font-feature-settings: "kern" on;
  color: var(--core-color-3);
}
.main .recommended-works .core .select-area .options .selection .divide-line {
  position: relative;
  width: 90%;
  height: 0;
  opacity: 1;
  border: 1px solid var(--core-color-4);
}
.main .recommended-works .core .select-area .options .selection .divide-line .rectangle {
  position: absolute;
  right: -2px;
  top: -4.5px;
  width: 9px;
  height: 9px;
  opacity: 1;
  background-color: var(--core-color-4);
}
.main .recommended-works .core .select-area .options .selection .last-line {
  visibility: hidden;
}
.main .recommended-works .core .select-area .options .selection:hover p {
  color: var(--core-color-0);
}

/*# sourceMappingURL=recommended_works.css.map */
