.main {
  .theme-shadow-decoration {
    --shadow-distance: 8px;
    --shadow-distance-neg: -8px;
    box-shadow: var(--shadow-distance) var(--shadow-distance) var(--theme-color-shadow-1), var(--shadow-distance-neg) var(--shadow-distance-neg) var(--theme-color-shadow-1);
  }

  .underline-clickable {
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: var(--font-size-big);
    font-weight: bold;
    padding-bottom: 4px;

    --underline-thickness: 1px;
    --underline-color: var(--core-color-4);

    //添加下划线
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0;
      width: 99%;
      border-bottom: var(--underline-thickness) solid var(--underline-color);
      transition: all 0.15s;
    }

    &:hover {
      font-weight: bolder;

      &::after {
        --underline-thickness: 4px;
        --underline-color: var(--core-color-1);
      }
    }
  }

  .recommended-works {
    .core {
      display: flex;
      justify-content: center;
      gap: 24px;

      .work-spotlight {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        height: 611px;
        max-width: 594px;
        padding: 16px;
        background: var(--bg-image-noise);

        border: var(--theme-color) 1px solid;
        border-radius: 8px;

        .container {
          position: relative;
          margin: 0;
          width: 100%;
          height: 333.23px;
          align-items: center;
          justify-content: center;

          .content {
            position: relative;
            flex: none;
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            /* border: 2px solid var(--core-color-0); */
            background: var(--bg-color-0);
            box-shadow: 0 0 18px var(--shadow-color-0);

            .game-image {
              flex: none;
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              left: 0;
              top: 0;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
              }
            }

            .pre-image {
              opacity: 0;
              transform: translateX(-100%);
            }

            .current-image {
              opacity: 1;
              transform: translateX(0);
            }

            .next-image {
              opacity: 0;
              transform: translateX(100%);
            }
          }
        }

        .gallery {
          display: flex;
          justify-content: flex-start;
          width: 100%;
          height: fit-content;
          margin-top: 12px;
          gap: 10px;
          overflow-x: auto;
          overflow-y: hidden;

          .item {
            box-shadow: 0 0 10px var(--shadow-color-0);
            height: fit-content;
            cursor: pointer;
            transition-property: outline-color;
            transition-duration: 0.3s;
            outline: 2px solid transparent;
            outline-offset: -2px;

            img {
              border-radius: 2px;
              height: 62px;
              object-fit: cover;
            }

            &:hover {
              outline-color: var(--core-color-0);
            }
          }
        }

        .author {
          position: inherit;
          left: 0px;
          top: 0px;
          width: 100%;
          height: fit-content;
          opacity: 1;
          margin-top: 17.6px;

          p {
            margin: 0;
            font-family: Source Han Sans;
            font-size: var(--font-size-bigger);
            font-weight: bold;
            line-height: normal;
            letter-spacing: 0em;

            font-variation-settings: "opsz" auto;
            font-feature-settings: "kern" on;
            color: var(--theme-color);
          }
        }

        .description {
          position: inherit;
          left: 0px;
          width: 100%;
          height: 102px;
          margin: 12px 0;
          overflow-x: hidden;
          overflow-y: auto;

          p {
            margin: 0;
            font-size: var(--font-size-normal);
            color: var(--core-color-1);
          }
        }

        .links {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          gap: 16px;

          a {
            &:hover {
              color: var(--core-color-0);
            }
            .link-icon {
              width: var(--font-size-normal);
              height: var(--font-size-normal);
              fill: var(--core-color-0);
              transition: fill 0.15s ease-in;
              display: inline-block;
            }
          }
        }
      }

      .selection-area {
        .selections {
          display: flex;
          flex-direction: column;
          gap: 24px;

          .selection {
            --shadow-distance: 6px;
            --shadow-distance-neg: -6px;

            position: relative;
            width: fit-content;
            padding: 16px;
            padding-bottom: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            gap: 8px;
            border-radius: 8px;
            background: var(--bg-image-noise);
            border: var(--theme-color) 1px solid;

            &:hover {
              font-weight: bolder;

              .game-name::after {
                --underline-thickness: 5px;
                --underline-color: var(--core-color-1);
              }
            }

            p {
              transition-property: all;
              transition-duration: 0.3s;
              font-family: Source Han Sans;
              line-height: normal;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              margin: 0;
              font-variation-settings: "opsz" auto;
              font-feature-settings: "kern" on;
              color: var(--core-color-0);
            }

            .info {
              p {
                font-size: var(--font-size-small);
                font-weight: normal;
              }
            }

            .game-name {
              width: fit-content;

              p {
                font-size: var(--font-size-big);
                font-weight: bold;
                padding-bottom: 2px;
              }
            }
          }
        }
      }
    }
  }
}
