.work-spotlight {
  display: flex;
  left: 931px;
  width: 626px;
  height: 611px;
  justify-content: flex-start;
  flex-direction: column;
}
.work-spotlight .container {
  position: relative;
  margin: 0;
  width: 594px;
  height: 333.23px;
  align-items: center;
  justify-content: center;
}
.work-spotlight .container .content {
  position: relative;
  flex: none;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid var(--core-color-0);
  background: var(--background-color);
}
.work-spotlight .container .content .game-image {
  flex: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}
.work-spotlight .container .content .game-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.work-spotlight .container .content .pre-image {
  opacity: 0;
  transform: translateX(-100%);
}
.work-spotlight .container .content .current-image {
  opacity: 1;
  transform: translateX(0);
}
.work-spotlight .container .content .next-image {
  opacity: 0;
  transform: translateX(100%);
}
.work-spotlight .gallery {
  display: flex;
  justify-content: flex-start;
  width: 594px;
  height: 63.2px;
  margin-top: 10.17px;
  gap: 9.5px;
}
.work-spotlight .gallery .item {
  width: 111px;
  height: 62px;
  cursor: pointer;
  transition-property: outline-color;
  transition-duration: 0.3s;
  outline: 2px solid transparent;
  outline-offset: -2px;
}
.work-spotlight .gallery .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.work-spotlight .gallery .item:hover {
  outline-color: var(--core-color-0);
}
.work-spotlight .author {
  position: inherit;
  left: 0px;
  top: 0px;
  width: 425px;
  height: 37px;
  opacity: 1;
  margin-top: 17.6px;
}
.work-spotlight .author p {
  margin: 0;
  font-family: Source Han Sans;
  font-size: var(--font-size-bigger);
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  font-feature-settings: "kern" on;
  color: var(--theme-color);
}
.work-spotlight .description {
  position: inherit;
  left: 0px;
  top: 44px;
  width: 626px;
  height: 102px;
  opacity: 1;
  margin-top: 7px;
  overflow: hidden;
}
.work-spotlight .description p {
  margin: 0;
  font-family: Source Han Sans;
  font-size: 20px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  font-feature-settings: "kern" on;
  color: var(--core-color-0);
}
.work-spotlight .links {
  display: flex;
  flex-wrap: nowrap;
}
.work-spotlight .links .itch-link {
  width: 102px;
}
.work-spotlight .links .steam-link {
  width: 100px;
}
.work-spotlight .links .link {
  height: 35px;
  margin-right: 44px;
  display: flex;
  position: relative;
  font-family: Source Han Sans;
  font-size: var(--font-size-bigger);
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0em;
}
.work-spotlight .links .link a {
  width: 100%;
  text-decoration: none;
}
.work-spotlight .links .link a .link-icon {
  fill: var(--core-color-0);
  transition: fill 0.15s ease-in;
  display: inline-block;
}
.work-spotlight .links .link ::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 99%;
  height: 0px;
  border-bottom: 1px solid var(--core-color-4);
  transition: all 0.15s;
}
.work-spotlight .links .link :hover {
  color: var(--core-color-0);
}
.work-spotlight .links .link :hover::after {
  border-bottom: 5px solid var(--core-color-0);
}/*# sourceMappingURL=work_spotlight.css.map */