
.work-spotlight {
    display: flex;
    left: 931px;
    width: 626px;
    height: 611px;
    justify-content: flex-start;
    flex-direction: column;

    .container {
        position: relative;
        margin: 0;
        width: 594px;
        height: 333.23px;
        align-items: center;
        justify-content: center;

        .content {
            position: relative;
            flex: none;
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: 2px solid var(--core-color-0);
            background: var(--background-color);

            .game-image {
                flex: none;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
                top: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .pre-image {
                opacity: 0;
                transform: translateX(-100%);
            }

            .current-image {
                opacity: 1;
                transform: translateX(0);
            }

            .next-image {
                opacity: 0;
                transform: translateX(100%);
            }
        }

    }

    .gallery {
        display: flex;
        justify-content: flex-start;
        width: 594px;
        height: 63.2px;
        margin-top: 10.17px;
        gap: 9.5px;

        .item {
            width: 111px;
            height: 62px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            cursor: pointer;
            transition-property: outline-color;
            transition-duration: 0.3s;
            outline: 2px solid transparent;
            outline-offset: -2px;
        }

        .item:hover {
            outline-color: var(--core-color-0);
        }
    }

    .author {
        position: inherit;
        left: 0px;
        top: 0px;
        width: 425px;
        height: 37px;
        opacity: 1;
        margin-top: 17.6px;

        p {
            margin: 0;
            font-family: Source Han Sans;
            font-size: var(--font-size-bigger);
            font-weight: bold;
            line-height: normal;
            letter-spacing: 0em;

            font-variation-settings: "opsz" auto;
            font-feature-settings: "kern" on;
            color: var(--theme-color);
        }
    }

    .description {
        position: inherit;
        left: 0px;
        top: 44px;
        width: 626px;
        height: 102px;
        opacity: 1;
        margin-top: 7px;
        overflow: hidden;

        p {
            margin: 0;
            font-family: Source Han Sans;
            font-size: 20px;
            font-weight: normal;
            line-height: normal;
            letter-spacing: 0em;

            font-variation-settings: "opsz" auto;
            font-feature-settings: "kern" on;
            color: var(--core-color-0);
        }
    }

    .links {
        display: flex;
        flex-wrap: nowrap;
        .itch-link{
            width: 102px;
        }

        .steam-link{
            width: 100px;
        }

        .link {
            height: 35px;
            margin-right: 44px;
            display: flex;
            position: relative;

            font-family: Source Han Sans;
            font-size: var(--font-size-bigger);
            font-weight: bold;
            line-height: normal;
            letter-spacing: 0em;

            a {
                width: 100%;
                text-decoration: none;

                .link-icon {
                    fill: var(--core-color-0);
                    transition: fill 0.15s ease-in;
                    display: inline-block;
                }
            }

            //添加下划线
            ::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 99%;
                height: 0px;
                border-bottom: 1px solid var(--core-color-4);
                transition: all 0.15s;
            }

            :hover {
                color: var(--core-color-0);
                
                &::after {
                    border-bottom: 5px solid var(--core-color-0);
                }
            }
        }
    }
}